{
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "always"],
    "indent": ["error", "tab"],
    "no-console": 0,
    "no-unused-vars": 0,
    "no-multi-spaces": 0,
    "no-undef": 0,
    "no-control-regex": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }]
  }
}
